{% extends 'base.html.twig' %}
{% block title %}
	Nouvelle carte
{% endblock %}
{% block body %}


	<div class="card_form">

		<h2>Ajouter une Carte</h2>

		{{ form(cardForm) }}
	</div>
{% endblock %}