{% extends 'base.html.twig' %}
{% block title %}
	Nouvelle carte
{% endblock %}
{% block body %}


	<div class="create-carte">
		<h1>Ajouter une Carte</h1>
		{{ form(cardForm) }}
		</div>
	{% endblock %}
