{% extends 'base.html.twig' %}
{% block title %}
	Modifier Carte
{% endblock %}
{% block body %}


	<div class="card_form">

		<h2>Modifier une carte</h2>
		{{ form(cardForm) }}
	</div>
{% endblock %}
