{% extends 'base.html.twig' %}
{% block title %}
	Modifier Carte
{% endblock %}
{% block body %}


	<div class="edit-carte">
		<h1>Modifier une carte</h1>
		{{ form(cardForm) }}
		</div>
	{% endblock %}
