{% extends 'base.html.twig' %}
{% block title %}
	Nouvelle extension
{% endblock %}
{% block body %}


	<div class="create-extension">
		<h1>Ajouter une extension</h1>
		{{ form(extensionForm) }}
		</div>
	{% endblock %}
