{% extends 'base.html.twig' %}
{% block title %}
	Nouvelle extension
{% endblock %}
{% block body %}


	<div class="extension_form">

		<h2>Ajouter une extension</h2>

		{{ form(extensionForm) }}
	</div>
{% endblock %}