{% extends 'base.html.twig' %}
{% block title %}
	Modifier Extension
{% endblock %}
{% block body %}


	<div class="edit-extension">

		<h1>Modifier une extension</h1>
		{{ form(extensionForm) }}
		</div>
	{% endblock %}
