{% extends 'base.html.twig' %}
{% block title %}
	Modifier Extension
{% endblock %}
{% block body %}


	<div class="extension_form">

		<h2>Modifier une extension</h2>
		{{ form(extensionForm) }}
	</div>
{% endblock %}
