{% extends 'base.html.twig' %}
{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="clearfix">
		<aside>
			<h1>Mes Contacts</h1>
			<div class="user-contact">
				{% for recever in recevers %}
					<div>
						<a href="#" class="sendMessageLink" data-id="{{ recever.id }}">{{ recever.name }}</a>
					</div>
				{% endfor %}
			</div>
		</aside>
		<div id="messageContainer"></div>
		<div>
			<form class="messageForm">
				<div>
					<label for="messageContent">Contenu du message :</label>
					<input id="messageContent" name="messageContent" rows="4" cols="50" required>
				</div>
				<div>
					<button type="submit" class="btn">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/contact.js') }}" type="module"></script>
{% endblock %}
