
{% block body %}
	<style></style>

	<div>
		{# <form action="{{ path('book_search') }}" method="get" class="actions search">
													<input type="text" name="keyword" placeholder="Recherche...">
													<button type="submit">Rechercher</button>
												</form> #}
	</div>
    {% include '/message/old_messages.html.twig' %}
    
{% endblock %}
