{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<div class="card-container" id="mon-profil">
		<h1>Profil de
			{{ user.name }}</h1>
		<div class="card-name">
			<p>Email:
				{{ user.email }}</p>
		</div>
		<div class="card-name">
			<p>Pseudo:
				{{ user.name }}</p>
		</div>

		<div class="card-action">
			<a href="{{path('user_collect', {'userName': user.name})}}" class="btn card-link">Ma collection</a>
		</div>

	</div>
{% endblock %}
