{% extends 'base.html.twig' %}

{% block title %}Utilsatateurs
{% endblock %}

{% block body %}
	<style></style>

	<div>
		{# <form action="{{ path('book_search') }}" method="get" class="actions search">
											<input type="text" name="keyword" placeholder="Recherche...">
											<button type="submit">Rechercher</button>
										</form> #}
	</div>
	<div>
		<table>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>
							<a href="">Voir Collection</a>
						</td>
						<td>
							<a href="{{path('send_message', {'user_id_sender': app.user.id, 'user_id_recever' : user.id})}}">Contacter</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
