:root {
    --bleu: #7e7eff;
    --bleu-opaque: rgba(126, 126, 255, 0.7);
    --bleu-clair: rgba(126, 126, 255, 0.1);
    --rouge: #a12525;
    --orange: #fea711;
    --Lugrasimo: 'Lugrasimo', sans-serif;
}

a {
    text-decoration: none;
    color: var(--orange);
}

li {
    list-style: none;
}

canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
menu,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    font-family: var(--Lugrasimo);
    text-align: center;
}

/* Mode sombre */
body.dark-mode {
    background-color: #333;
    color: white;
}

/* Mode clair */
body.light-mode {
    background-color: white;
    color: black;
}

#mode.light-mode:hover {
    background-color: #333;
}

#mode.dark-mode:hover {
    background-color: #fff;
}


.message {
    margin: 0.5rem 0
}

.message.right {
    text-align: right;
    background-color: #c0e2d8;
    margin-right: 1rem;
}

/* Styles CSS pour aligner les messages du destinataire à gauche */
.message.left {
    text-align: left;
    background-color: #f2f2f2;
    margin-left: 1rem;
}

.message-timestamp {
    font-size: 0.8rem;
    color: #999;
}

.timestamp-right {
    float: right;
    /* Alignement à droite pour l'heure des messages de l'utilisateur */
}

.timestamp-left {
    float: left;
    /* Alignement à gauche pour l'heure des messages de l'autre personne */
}

/* Ne pas afficher le formulaire d'envoi de messsage au chargement de la page, et l'afficher seuelement lorsque l'on clique sur un pseudo */
.messageForm {
    display: none;
}

.edit-form {
    display: none;
}

.btn {
    font-size: 3rem;
    border: 0.25rem solid var(--rouge);
    padding: 2rem 9rem;
    border-radius: 4.5rem;
    background-color: var(--rouge);
    font-weight: bolder;
    box-shadow: 0.5rem 0 2.2rem -1rem rgba(0, 0, 0, 9.5);
    cursor: pointer;
}




/********************** HEADER **********************/
.btn-toogle {
    border-radius: 1.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #fff;
    border: #fff;
}

.btn-toogle.light-mode {
    color: #333;
    background-color: #333;
}

.btn-toogle.light-mode:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.btn-toogle.dark-mode:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.navbar {
    width: 100%;
}

.navbar ul li a {
    display: block;
    width: 100%;
    border: dashed 0.3rem var(--bleu);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
}

/********************** HEADER FIN **********************/

/********************** HOME **********************/
.accroche {
    margin: 2rem 0;
}

.home #carousel {
    margin: 3rem 0;
}

.card-container {
    margin: 2rem 0;
    position: relative;
}

.card-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carte {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70rem;
}

.card-name {
    font-size: 3.5rem;
    margin: 3rem;
    color: var(--rouge);
}

.card_img {
    height: 100%;
    box-shadow: 2rem 0 3rem -0.5rem rgba(0, 0, 0, 9.5);
}

.card-action {
    margin: 3rem 0;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 11.5rem;
    font-size: 4rem;
}

.carousel-prev {
    left: 1rem;
}

.carousel-next {
    right: 1rem;
}

/********************** HOME FIN **********************/

/********************** REGISTER/LOING/FORM **********************/
.inscription form,
.connexion form,
.create-game form,
.edit-game form,
.create-extension form,
.edit-extension form,
.create-carte form,
.edit-carte form,
.commentForm {
    margin: 5rem;
    border: 0.3rem solid var(--bleu);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0 2.2rem -1rem rgba(0, 0, 0, 9.5);
}

.inscription .btn,
.connexion .btn,
.create-game .btn,
.edit-game .btn,
.create-extension .btn,
.edit-extension .btn,
.create-carte .btn,
.edit-carte .btn,
.commentForm .btn {
    color: var(--orange);
    font-size: 2.2rem;
    padding: 2rem 3rem;
    font-family: var(--Lugrasimo);
}

#registration_form div,
.connexion form div,
#game_form div,
#extension_form div,
#card_form div,
.commentForm div {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration_form div label,
.connexion form label,
#game_form div label,
#extension_form div label,
#card_form div label,
.commentForm div label {
    margin: 2rem 0;
}

#registration_form div input,
.connexion form input,
#game_form div input,
#extension_form div input,
#card_form div input,
#card_form div textarea,
.commentForm div input {
    padding: 1rem;
    width: 55%;
    border: var(--rouge) solid .25rem;
    border-radius: .5rem;
    font-size: 2.2rem;
}

#card_form_Description {
    height: 15rem;
}


.commentForm div input {
    width: 110%;
    height: 15rem;
}

.commentForm h3 {
    color: var(--rouge);
}

/********************** REGISTER/LOING/FORM FIN **********************/

/********************** GAME/EXTENSION/CARDS **********************/
.new-game,
.new-extension,
.new-card {
    margin: 5rem 0;
}

.new-game a,
.new-extension a,
.new-card a {
    color: var(--rouge);
    padding: 2rem;
    background-color: var(--orange);
    border-radius: 3.5rem;
    font-weight: bold;
    box-shadow: 2rem 0 3rem -0.5rem rgba(0, 0, 0, 9.5);
}

.game-container,
.extension-container,
.card-container,
#cards,
#Carte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-card,
.extension-card,
#cards .card-cart,
#Carte {
    border: solid .2rem var(--rouge);
    margin: 2rem;
    width: 75%;
}

#Carte {
    width: inherit;
}

.game,
.extension,
#cards .carte-card,
#Carte .container-flex .carte-infos {
    display: block;
    padding-bottom: 3rem;
    border-bottom: 0.15rem dashed var(--rouge);
}

#cards .carte-card,
#Carte .container-flex,
#Carte .container-flex .carte-infos {
    width: 100%;
}

#cards .carte-card img,
#Carte .container-flex .carte-infos img {
    width: 75%;
}

.game-name,
.extension-name,
#cards .card-name,
#Carte .container-flex .card-name {
    margin: 2rem 0;
    border-bottom: dashed .15rem var(--rouge);
    padding-bottom: 2rem;
}

#cards .card-action,
#Carte .container-flex .card-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

#cards .card-action .card-link {
    padding: 2rem 0;
    background-color: var(--rouge);
    width: 90%;
    box-shadow: 2rem 0 3rem -0.5rem rgba(0, 0, 0, 9.5);
    margin: 2rem 0;
    border-radius: 6rem;
}

#cards .carte-quantity,
#Carte .container-flex .carte-quantity {
    width: 100%;
    border-top: 0.15rem dashed var(--rouge);
    border-bottom: 0.15rem dashed var(--rouge);
}

#cards .admin-button,
.haveGot {
    width: 100%;
}

.admin-button,
.carte-quantity,
.haveGot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin-button a,
.carte-quantity a,
.haveGot a {
    padding: 2rem 2rem;
    width: 45%;
    font-size: 1.5rem;
}

.carte-quantity a {
    font-size: 2.5rem;
}

.delete-game,
.delete-extension,
.delete-card,
.decrement-button,
.favorite {
    border-right: 0.15rem dashed var(--rouge);
}

#collection .game,
#collection .extension {
    border: none
}

.carte-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.carte-information p {
    color: var(--orange);
    padding: 1rem 0;
    width: 100%;
    border-bottom: 0.15rem dashed var(--rouge);
}

#card-table-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

#card-table-description tr {
    display: flex;
    padding: 3rem;
    border-bottom: 0.15rem dashed var(--rouge);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#card-table-description .description-row {
    border-bottom: none;
}

.description-row td {
    font-size: 1.4rem;
    text-align: right;
    width: 50%;
}

.carte-commentaire {
    margin: 5rem 0;
    width: inherit;
    border: 0.15rem solid var(--rouge);
}

.carte-commentaire h2 {
    color: var(--rouge);
    margin: 2rem 0;
}

.comments {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.commentaire {
    background-color: var(--bleu-opaque);
    width: 100%;
    text-align: left;
    color: var(--rouge);
    margin: .5rem;
}

.commentaire div div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem 0;
}

.commentaire div div p {
    font-style: italic;
    font-size: 1.2rem;
}

.commentaire .content {
    font-weight: 500;
}

.commentaire-action {
    text-align: right;
}

.commentaire-action a,
.commentaire-action .btn {
    color: var(--rouge);
    font-size: 1.2rem;
    padding: 0 2rem;
    font-family: var(--Lugrasimo);
    background-color: var(--orange);
    border: .5rem solid var(--orange);
    border-radius: 2rem;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.commentaire-action .btn:disabled {
    background-color: #fff;
    border: .5rem solid #fff;
    cursor: not-allowed;
    opacity: 0.2;
}

.commentaire-action .edit-form {
    text-align: left;
    /* display: flex; */
    text-align: left;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.commentaire-action .edit-form .edit-content {
    width: 70%;
    font-size: 1.2rem;
    font-family: var(--Lugrasimo);
    border-radius: 2rem;
    text-align: center;
    margin: 1rem 0;
    padding: 0rem;
}

/********************** GAME/EXTENSION/CARDS **********************/